<!DOCTYPE html>
<html lang="en">

<%- include('../include/header') %>

<body class="bg-[#f4f5fa] font-sans">

    <%- include('../include/navbar') %>

    <div class="w-full h-[93vh] flex">
        <!-- Sidebar -->
        <%- include('../include/sidebar') %>
        <!-- Main Content -->
        <div class="flex-grow p-10">
            <div class="bread text-xl">
                Module/<%=pageTitle%>
            </div>

            <div class="m-container">
                <form action="" method="POST" id="form">
                    <div class="flex">
                        <div class="mb-4 w-1/2 px-2">
                            <label for="name" class="block text-lg font-semibold text-gray-700">User Name</label>
                            <input type="text" id="name" name="name"
                                class="mt-2 p-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"
                                placeholder="Enter User Name">
                        </div>
                        <div class="mb-4 w-1/2 px-2">
                            <label for="email" class="block text-lg font-semibold text-gray-700">User Email</label>
                            <input type="email" id="email" name="email"
                                class="mt-2 p-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"
                                placeholder="Enter User Email">
                        </div>
                        
                    </div>
                    <div class="flex">
                        <div class="mb-4 w-1/2 px-2">
                            <label for="phone" class="block text-lg font-semibold text-gray-700">User Phone</label>
                            <input type="text" id="phone" name="phone"
                                class="mt-2 p-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"
                                placeholder="Enter Phone">
                        </div>
                    
                        <div class="mb-4 w-1/2 px-2">
                            <label for="package" class="block text-lg font-semibold text-gray-700 ">Package</label>
                            <select name="package" id="package" class="mt-2 p-2 w-full" onchange="checkPackage()">

                            </select>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="mb-4 w-1/2 px-2">
                            <label for="subPackage" class="block text-lg font-semibold text-gray-700 ">Sub Package</label>
                            <select name="subPackage" id="subPackage" class="mt-2 p-2 w-full" onchange="checkPackage()">

                            </select>
                        </div>
                    </div>
                    <div class="flex justify-end">
                        <button type="submit"
                            class="w-fit p-2 px-4 bg-purple-600 text-white font-semibold rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>

    <%- include('../include/footer') %>
    <script>
        

        var packageSelect;
        var subPackageSelect;
        var packageElement = document.getElementById("package")
        var subPackageElement = document.getElementById("subPackage")
        var subPackages = [];
            

        async function checkPackage(){
            if(packageElement.value=="Custom"){

            }
        }

        async function getPackage() {
            let res = await fetch("/admin/package/package-list-ajax")
            res = await res.json()
            console.log(res)
            if(res.success){
                packageElement.innerHTML = "";
                let data = [];
                let opt = "";
                subPackages = res.data;
                res.data.forEach(element => {
                    data.push({text:element.name,value:element._id})
                    // opt=opt+`
                    // <option value="${element._id}">${element.name}</option>
                    // `
                });
                // document.getElementById("package").innerHTML = opt;
                data.push({text:"Custom",value:"Custom"})
                // console.log(data)
                packageSelect = new SlimSelect({
                    select: packageElement
                })
                packageSelect.setData(data)       
            }
        }

        async function getSubPackage(id) {
            if(packageElement.value!="Custom"){
                for(let i=0;i<subPackages.length;i++){
                    let ele = subPackages[i] 
                    if(ele._id==id){
                        // return ele;
                        console.log(ele)
                    }
                }
            }
            // return [];
            
        }

        getPackage();
    </script>

</body>

</html>
