<!DOCTYPE html>
<html lang="en">

<%- include('../include/header') %>

    <body class="bg-[#f4f5fa] font-sans">

        <%- include('../include/navbar') %>

            <div class="w-full h-[93vh] flex">
                <!-- Sidebar -->
                <%- include('../include/sidebar', { pageTitle: pageTitle }) %> 
                    <!-- Main Content -->
                    <div class="flex-grow p-10">
                        <div class="bread text-xl">
                            Package/<%=pageTitle%>
                        </div>

                        <div class="m-container">
                            <form action="" method="POST">

                                <div class="flex">
                                    <div class="mb-4 w-1/2 px-2">
                                        <label for="name" class="block text-lg font-semibold text-gray-700">Package
                                            Name</label>
                                        <input type="text" id="name" name="name"
                                            class="mt-2 p-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"
                                            placeholder="Enter Package Name">
                                    </div>
                                    <div class="mb-4 w-1/2 px-2">
                                        <label for="ruqests" class="block text-lg font-semibold text-gray-700">Total
                                            Request</label>
                                        <input type="text" id="ruqests" name="ruqests"
                                            class="mt-2 p-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"
                                            placeholder="Enter Total Request">
                                    </div>
                                </div>

                                <div class="flex">
                                    
    
                                    <div class="mb-4 w-1/2 px-2">
                                        <label for="ruqests" class="block text-lg font-semibold text-gray-700">
                                            Request Per Period</label>
                                        <select name="requestPerPeriod" id="requestPerPeriod" class="mt-2 selectElement">
                                            <% 
                                            helper.packagePeriod().forEach((period,i)=>{
                                                %>
                                                    <option value="<%=period%>"><%=period%></option>
                                                <%
                                            })
                                            %>
                                            
                                        </select>
                                    </div>
                                    <div class="mb-4 w-1/2 px-2">
                                        <label for="delay" class="block text-lg font-semibold text-gray-700">Time
                                            Delay</label>
                                        <input type="number" id="delay" name="delay"
                                            class="mt-2 p-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"
                                            placeholder="Enter Total Request">
                                    </div>
                                </div>

                                <div class="flex">
                                    
                                    <div class="mb-4 w-1/2 px-2">
                                        <label for="pricePerMonth" class="block text-lg font-semibold text-gray-700">Pricing Per Month</label>
                                        <input type="number" id="pricePerMonth" name="pricePerMonth"
                                            class="mt-2 p-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"
                                            placeholder="Enter Price Per Month">
                                    </div>
                                    <div class="mb-4 w-1/2 px-2">
                                        <label for="pricePer3Month" class="block text-lg font-semibold text-gray-700">Pricing Per 3 Month</label>
                                        <input type="number" id="pricePer3Month" name="pricePer3Month"
                                            class="mt-2 p-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"
                                            placeholder="Enter Price Per 3 Month">
                                    </div>
                                    <div class="mb-4 w-1/2 px-2">
                                        <label for="pricePer6Month" class="block text-lg font-semibold text-gray-700">Pricing Per 6 Month</label>
                                        <input type="number" id="pricePer6Month" name="pricePer6Month"
                                            class="mt-2 p-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"
                                            placeholder="Enter Price Per 6 Month">
                                    </div>
                                    <div class="mb-4 w-1/2 px-2">
                                        <label for="pricePerYear" class="block text-lg font-semibold text-gray-700">Pricing Per Year</label>
                                        <input type="number" id="pricePerYear" name="pricePerYear"
                                            class="mt-2 p-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"
                                            placeholder="Enter Price Per Year">
                                    </div>
                                </div>

                                <div class="flex">
                                    <div class="mb-4 w-1/2 px-2">
                                        <label for="description" class="block text-lg font-semibold text-gray-700">Description</label>
                                        <textarea name="description" id="description" class="mt-2 p-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"></textarea>
                                    </div>
                                </div>

                                <div class="mt-6">
                                    <button type="submit"
                                        class="w-full p-2 bg-purple-600 text-white font-semibold rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>

                       


                    </div>
            </div>

        <%- include('../include/footer') %>


    </body>

</html>