<!DOCTYPE html>
<html lang="en">
<%- include('../include/header') %>
<body class="bg-[#f4f5fa] font-sans">
    <%- include('../include/navbar') %>
    <div class="w-full h-[93vh] flex">
        <%- include('../include/sidebar', { pageTitle: pageTitle }) %> 
        <div class="flex-grow p-10">
            <div class="bread text-xl">
                Package/<%=pageTitle%>
            </div>

            <div class="m-container">
                <div class="table-responsive">
                    <table class="table" id="table">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Package Name</th>
                                <th>Requests</th>
                                <th>Time Delay</th>
                                <th>Price Per Month</th>
                                <th>Price Per 3 Month</th>
                                <th>Price Per 6 Month</th>
                                <th>Price Per Year</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% packages.forEach((package, i) => { %>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= package.name %></td>
                                    <td><%= package.totalRequests %>/<%= package.requestPerPeriod %></td>
                                    <td><%= package.timeDelay %></td>
                                    <td><%= package.pricePerMonth %></td>
                                    <td><%= package.pricePer3Month %></td>
                                    <td><%= package.pricePer6Month %></td>
                                    <td><%= package.pricePerYear %></td>

                                    <td>
                                        <a href="del-package/<%= package.id %>" onclick="return confirm('Are you sure you want to delete this role?')">
                                            <i class="fa fa-trash text-red-500">     </i> 
                                        </a>  
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include('../include/footer') %>
</body>
</html>
